<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tu tworzymy płyty</title>
    <style>
        table, th, tr, td {border: 1px solid black;}
    </style>
</head>

<body>

    <h2>Lista płyt</h2>
    
    <table>
        <thead>
        <th>Tytuł</th>
        <th>Autor</th>
        <th>Rok wydania</th>
        </thead>
        <tr>
            <td>{{ record.name }}</td>
            <td>{{ record.author }}</td>
            <td>{{ record.year }}</td>
        </tr>
    </table>
    <div>
        <h2> Zmień płytę: </h2>
        <form method="POST" action="/records/{{ id }}">
            {{ form.hidden_tag() }}
            <table>
                {% for field in form if field.widget.input_type != 'hidden' %}
                    <tr>
                        <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                        <td>{{ field }}</td>
                    </tr>
                {% endfor %}
            </table>
            <input type="submit" value="Zmień">
        </form>
    </div>
</body>
</html>
